body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    96.74% 276.79% at 3.59% 5.28%,
    #f0f4ff 0%,
    #a5b6ee 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 244px;
  height: 48px;
}

main {
  width: 400px;
  height: 360px;
  border-radius: 16px;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  box-shadow: 20px 20px 60px 10px #374b7c66;
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 23px;
}

main .div-button {
  display: flex;
}

main .div-button .btn {
  width: 112px;
  height: 48px;
  border-radius: 50px;
  background: #324577;
  box-shadow: 1px 1px 1px 0px #0000000d inset;
  color: #617199;
  margin: 40px 6px;
}

footer {
  color: #8596bf;
  font-size: 14px;
  font-weight: 400px;
}
